PORT=

# This was inserted by `prisma init`:
# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

JWT_SECRET=
# JWT access token expires in 1800 seconds (~30 minutes)
JWT_ACCESS_TOKEN_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_TOKEN_EXPIRES_IN=

# Database Url Prisma (PostgreSQL)
DATABASE_URL=

# Config Email
RESEND_API_KEY=
MAIL_FROM=

#Code to verify or reset account
CODE_EXPIRED= #5 minutes
CODE_ID_RULE=
#Verify account token
VERIFY_TOKEN_EXPIRED=
#reset password
RESET_PASSWORD_SESSION_EXPIRED=

#cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=      
CLOUDINARY_API_SECRET=
#youtube data api v3
YOUTUBE_API_KEY=